* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f8be53;
    max-width: 80%;
    padding: 20px 27px;
    border-radius: 20px;
    box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.66);
    gap: 20px;
    text-align: center;
}

.inputs label {
    font-size: clamp(1rem, 100vw, 1.2rem);
}

.inputs input {
    width: 15rem;
    padding: 1rem 0.2rem;
    border: none;
    border-radius: 0.5rem;
    color: #f8be53;
}

h1 {
    font-size: clamp(1.5rem, 100vw, 3rem);
    text-align: center;
}

button {
    width: 10rem;
    padding: 1rem 0;
    font-size: 1.4rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 1rem;
    color: #f8be53;
}

p {
    color: #ec790e;
    font-size: clamp(1rem, 100vw, 2.5rem);
}


@media(max-width: 1440px) {
    .inputs {
        display: flex;
    }
}

@media(max-width: 1024px){
    .inputs{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .container{
        text-align:start;
    }
}

@media(max-width: 1631px){
    .inputs {
        display: flex;
    }
}

@media(max-width: 1642px){
    .inputs {
        display: flex;
    }

}

@media(max-width: 425px){
    .container{
        text-align:center;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}